*{
  font-family: "Poppins", sans-serif!important;
  font-optical-sizing: auto;
  font-style: normal;
}

.blogs-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
background: linear-gradient(to right, #FFFFFF, #ECE9E6);
margin: 0 1rem;
}

.blogs-container a{
    width: 34%;
    color: #000;
}

.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.card__image{
    width: 100%;
    height: 42rem;
}
.tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: .75rem;
}

.tag + .tag {
  margin-left: .5em;
}

.tag-blue {
  background: #56CCF2;
background: linear-gradient(to bottom, #2F80ED, #56CCF2);
  color: #fafafa;
}

.tag-brown {
  background: #D1913C;
background: linear-gradient(to bottom, #FFD194, #D1913C);
  color: #fafafa;
}

.tag-red {
  background: #cb2d3e;
background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}

.card__body h4 {
  font-size: 2rem;
  margin: 1rem 0;
  text-transform: capitalize;
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: .5rem;
}

.user__image {
  border-radius: 50%;
}

.user__info > small {
  color: #666;
}

@media(max-width:980px){
    .blogs-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .blogs-container a{
        width:98%;
        color: #000;
    }
    .card {
        margin: 1rem 0;
    }
}